<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b9fece6-3175-4a9b-b48e-4d248fa4ed62/resourcegroups/ClinicaMVC20240205224249ResourceGroup/providers/Microsoft.Web/sites/GestordeEventos</ResourceId>
    <ResourceGroup>ClinicaMVC20240205224249ResourceGroup</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gestordeeventos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>gestordeeventos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GestordeEventos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$GestordeEventos</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=grupo04veris.database.windows.net,1433;Initial Catalog=Gestor;User ID=sqladmin;Password=Anthony@2001" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClinicaMVC.Models.ApplicationDbContext, ClinicaMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProyectoVeris_MVC_Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=grupo04veris.database.windows.net,1433;Initial Catalog=Gestor;User ID=sqladmin;Password=Anthony@2001" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClinicaMVC.Models.ProyectoVeris_MVC_Entities, ClinicaMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProyectoVeris_MVC_Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ProyectoVeris_MVC.csdl|res://*/Models.ProyectoVeris_MVC.ssdl|res://*/Models.ProyectoVeris_MVC.msl;provider=System.Data.SqlClient;provider connection string="Data Source=grupo04veris.database.windows.net,1433;Initial Catalog=Gestor;User ID=sqladmin;Password=Anthony@2001"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=grupo04veris.database.windows.net,1433;Initial Catalog=Gestor;User ID=sqladmin;Password=Anthony@2001</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>